@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-twoslash/twoslash.css';

/* html {
  scrollbar-gutter: stable;
} */

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

@theme {
  --breakpoint-xs: 30rem;
  --color-fd-primary: #231f20;
}

.dark {
  --color-fd-primary: #dce0df;
}

/* Framework accent colors (official brand colors) */
/* body.react {
  --color-fd-primary: #61dafb;
}
body.react-router {
  --color-fd-primary: #f44250;
}
body.vue,
body.vue-router {
  --color-fd-primary: #42b883;
}
body.nuxt {
  --color-fd-primary: #00dc82;
} */

.size-9:has(> .layout-tab-icon) {
  @apply size-5!;
}
